.about {
  margin: 220px 0;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__content {
  width: 900px;
  text-align: center;
}

.about__content h2 {
  font-family: var(--second-font);
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: #222222;
  margin-bottom: 5px;
}

.about__content p {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #222222;
}

.about__content p span {
  font-style: italic;
}
